<section class="bg-white shadow">
    <header class="e-container">
        <nav class="flex items-center justify-between h-[100px]">
            <a href="{% url 'home' %}" class="flex items-center gap-1">
                <span class="rounded-full text-2xl font-bold text-white px-2.5 py-1 bg-primary">E</span>
                <span class="text-2xl font-bold select-none uppercase">ventSys</span>
            </a>
            <button id="nav-toggle"
                    class="md:hidden focus:outline-none text-3xl cursor-pointer"
                    aria-label="Toggle menu"
                    aria-expanded="false"
                    aria-controls="nav-menu">
                <span id="nav-icon">☰</span>
            </button>
            <ul id="nav-menu"
                class="max-h-0 opacity-0 overflow-hidden transition-all duration-300 ease-in-out md:flex md:opacity-100 md:max-h-fit md:overflow-visible space-y-2.5 md:space-y-0 items-center gap-8 uppercase absolute md:static bg-white md:bg-transparent left-0 top-[100px] w-full md:w-auto px-6 py-4 md:p-0 z-50 shadow md:shadow-none">
                {% for item in navbar %}
                    <li>
                        <a href="{{ item.url }}"
                           class="{% if item.active %}active-nav{% else %}text-gray-700{% endif %} hover:text-[green] tracking-wider transition duration-200 block">
                            {{ item.name }}
                        </a>
                    </li>
                {% endfor %}
                {% if request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'sign_out' %}">
                            <button class="bg-red-600 text-white cursor-pointer rounded-full hover:bg-red-700  font-medium py-2 px-4  transition duration-200">
                                Sign Out
                            </button>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
</section>
