{% extends "base.html" %}
{% block title %}
    {% if is_update %}
        Update Participant
    {% else %}
        Create Participant
    {% endif %}
{% endblock title %}
{% block theme %}
    {% include "shared/header.html" %}
    <div class="max-w-[700px] mx-auto e-my">
        <h1 class="text-2xl font-bold mb-4 text-primary">
            {% if is_update %}
                Update Participant
            {% else %}
                Create Participant
            {% endif %}
        </h1>
        <form method="post" class="max-w-lg">
            {% csrf_token %}
            <div class="mb-4">
                <label for="{{ form.name.id_for_label }}" class="form-field-label">{{ form.name.label }}</label>
                {{ form.name }}
            </div>
            <div class="mb-4">
                <label for="{{ form.email.id_for_label }}" class="form-field-label">{{ form.email.label }}</label>
                {{ form.email }}
            </div>
            <div class="mb-6">
                <label class="form-field-label">{{ form.events.label }}</label>
                <div class="form-checkbox-group">
                    {% for choice in form.events %}
                        <div class="flex items-center">
                            {{ choice.tag }}
                            <label for="{{ choice.id_for_label }}"
                                   class="ml-2 text-sm font-medium text-gray-700 cursor-pointer">
                                {{ choice.choice_label }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <button type="submit" class="btn">
                {% if is_update %}
                    Update Participant
                {% else %}
                    Create Participant
                {% endif %}
            </button>
        </form>
    </div>
    {% include "shared/footer.html" %}
{% endblock theme %}
