asgiref==3.8.1
Django==5.2.3
django-browser-reload==1.18.0
django-tailwind==4.0.1
sqlparse==0.5.3
tzdata==2025.2
django-extensions==4.1
djlint==1.36.4
django-debug-toolbar==5.2.0
ptpython==3.0.30
django-active-link==0.2.2
